@import "tailwindcss";

@theme {
  --font-kings: Kings, san-serif;
  --color-primary: var(--color-primary);
  --color-primary-dark: var(--color-primary-dark);
}

:root {
  /* Custom colors */
  --color-primary: #fdb7ea; /* Màu hồng */
  --color-primary-dark: #cb80ab; /* Màu hồng đậm */
  --color-primary-foreground: #444; /* Màu chữ trên nền primary */
}
